.App {
  background-color: #7a5876;
  min-height: 100vh;
  color: white;
}
.App h1 {
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
} 
footer {
  text-align: center;
  padding:  10px;
}