.Dictionary {
    display: flex;
   flex-direction: column;
   align-items: center;
    margin-top: 40px;
}
.Dictionary form {
    max-width: 100%;
}
.results-dictionary {
    margin-top: 20px;
    color: #ffffff;
    max-width: 100%;
    border: 1px solid white;
    border-radius: 10px;

  
}